#container_footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    gap: 2rem;
    display: flex;
    justify-content: center;
  }
}

.box_footer {
  display: flex;
  column-gap: 0.5rem;
  font-size: $base_size-title;
  a:first-child {
    color: $base_text;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: $base_text-blue
  }
}

.list_footer {
  font-size: $base_size;
  font-family: $base_font-geo;
  list-style: none;
  li:first-child {
    font-weight: bold;
  }
  li {
    margin-bottom: 1rem;
    color: $base_text;
  }

  a {
    color: $base_text;
    text-decoration: none;
  }

  a:hover {
    color: $base_text-blue
  }
}

.box_footer-line {
  display: flex;
  align-items: center;
}

.list_footer-social {
  font-size: $base_size;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  li {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }
}
