#container_footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap:2rem;
  width: 100%;
}

.box_footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  column-gap: 0.5rem;
  font-size: $base_size-title;
  

  a:hover {
    color: $base_text-blue
  }
}

.box_footer-title{

  a{
    text-decoration: none;
    font-size: $base_size-title;
    color:$base_text;
    font-weight: bold;
  }

  a:hover {
    color: $base_text-blue
  }
}

.list_footer {
  display: flex;
  flex-direction: row;
  font-size: $base_size;
  font-family: $base_font-geo;
  list-style: none;
  gap: 2rem;

  li:first-child {
    font-weight: bold;
  }
  li {
    margin-bottom: 1rem;
    color: $base_text;
  }

  a {
    color: $base_text;
    text-decoration: none;
  }

  a:hover {
    color: $base_text-blue
  }
}

#box_footer-line {
  display: none;

  @include media(sm) {
    display: block;
  }

}

.list_footer-social {
  font-size: $base_size;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  li {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }
}
