#menuBurguer {
  height: 100vh;
  background-color: $base;
  position: fixed;
  right: 0;
  z-index: 1;
  width: 60%;
  @include media(sm) {
    width: 60%;
    border: 1px solid black;
  }
 
  @include media(lg) {
    width: 420px;
  }
}

.close {
  display: none;
}
.open {
  display: block !important;
}

.menuBurguer_container {
  padding: 2rem;
}

.menuBurguer_btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
}

.menuBurguer_box {
  padding-bottom: 1rem;
}

.menuBurger_navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menuBurguer_navbar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50px;
  list-style-type: none;
  &:hover {
    background-color: $base_text-blue;
  }

  font-size: $base_size-sm;
  text-decoration: none;
  color: $base_text;
  font-family: $base_font-geo;

  @include media(sm) {
    font-size: $base_size-title;
  }

}

.menuBurguer_icon {
  padding-left: 1rem;
}

.menuBurger_navbar-sublink{
  display: flex;
  flex-direction: column;
}