#navbar {
  background-color: $base_white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 180px;
  flex-direction: column;
  gap: 2rem;
  @include media(sm) {
    height: 150px;

    flex-direction: row;
  }
}

.navbar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @include media(sm) {
    margin: 2rem;
  }
}

#navbar_header-main {
  display: none;
  @include media(xxl) {
    display: block;
  }
}

.navbar_btn {
  background-color: transparent;
  border: none;
  height: 30px;
  cursor: pointer;
}

#navbar_title {
  color: $base_text-blue;
  font-family: bold;
  font-size: $base_size-md;
  font-weight: bold;
}
