@import "../mixin";
@import "../base/base";
@import "../components/navbar";
@import "../components/menuBurguer";
@import "../components/cardSurvey";
@import "../components/searchBar";

.home {
  width: 100%;
  height: 100%;
}

.home_container {
  margin: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 2rem;
  @include media(sm){
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
