@import "../mixin";
@import "../base/base";
@import "../components/searchBar";
@import "../components/navbar";
@import "../components/menuBurguer";
@import "../components/cardSurvey";

@import "../components/spinner";
@import "../components/footer";


.home {
  width: 100%;
  height: 100vh;
}

.home_container {
  display: grid;
  margin: 0; 
  height: 100vh; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem;
  @include media(sm) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
