@import "../mixin";
@import "../base/base";
@import "../components/formSurvey";
@import "../components/footer";
@import "../components/navlogin";


#wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  min-height: 93vh;
}

#main {
  background-color: $base;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main_container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

#main_container-portada {
  display: none;
  @include media(md) {
    font-size: 32px;
    font-weight: 800;
    color: $base_text;
    display: flex;
    align-items: center;
  }
}

#main_container_form {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px gray;
  h1 {
    font-family: $base_font-geo;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: $base_size-lg;
    color: $base_text-blue;
  }

  @include media(sm) {
    margin: 0px;
    display: flex;
    justify-content: center;
  }
}

#img_portada {
  display: none;
  @include media(sm) {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: left;
    display: block;
  }
}

#form {
  display: flex;
  font-family: $base_font-geo;
  font-size: $base_size;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
  padding-bottom: 1rem;
  @include media(sm) {
    width: 100%;
  }
}

.form_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  @include media(sm) {
    padding: 1.7rem;
  }
}

.form_div-group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: $base_font-geo;
  label {
    padding-bottom: 12px;
    color: white;
    font-size: 18px;
  }
  input {
    border: 0;
    background-color: white;
    outline: none;
    border-bottom: solid gray 2px;
  }
}

.form_btn-submit {
  border-radius: 4px;
  background-color: $base_text-violet;
  outline: none;
  padding: 12px;
  border: 0;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

#main_container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  justify-content: center;
  font-family: $base_font-geo;

  span {
    font-size: $base_size;
  }

  a {
    font-size: $base_size;
  }
}

.main_box-register {
  a {
    cursor: pointer;
    color: $base_text-violet;
    font-weight: bold;
  }
}

.error_container {
  position: relative;
  min-height: 1.5rem; /* Espacio reservado */
}

.error_text {
  word-wrap: break-word; /* Permite que las palabras largas se dividan */
  word-break: break-word; /* Otra opción para dividir palabras largas */
  color: red;
  position: absolute;
  font-size: $base_size;
}
