@import "../mixin";
@import "../base/base";
@import "../components/navbar";
@import "../components/menuBurguer";
@import "../components/footer";

#profile {
  width: 100%;
  height: 100%;
}

.container_profile {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  @include media(sm) {
    padding: 2rem;
    flex-direction: column;
  }
  @include media(lg) {
    flex-direction: row;
  }
}

.container_profile-card {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include media(sm) {
    max-height: 380px;
    height: 100%;
  }
}

.container_profile-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-box_one {
  width: 100%;
  @include media(sm) {
    width: 100%;
    max-width: 900px;
  }
}
.profile-box_two {
  width: 100%;
  min-width: 220px;
  @include media(sm) {
    width: 300px;
  }
}

.container_profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 155px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: $base_font-geo;
  color: $base;
  h2 {
    font-weight: bold;
    font-size: $base_size-title;
  }

  p {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
  }
}

.box_green-high {
  background-color: $base_green_high-card;
}

.box_green-low {
  background-color: $base_green_low-card;
}

#card {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;

  @include media(sm) {
    flex-direction: row;
  }
}

.card_container {
  margin: auto;
  h3 {
    color: #000;
    font-family: $base_font-fredooka;
    font-size: $base_size-title;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.55px;
    display: flex;
    align-items: center;
    gap: 8px;

    @include media(sm){
      font-size: $base_size-md;
    }

  }

  h4 {
    color: #000;
    font-family: $base_font-fredooka;
    font-size: $base_size-subtitle;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
    line-height: 3rem;
    display: flex;
    align-items: center;
    @include media(sm){
      font-size: $base_size-title;
    }

  }

  p {
    padding: 5px;
  }
}

.card_container-box {
  margin-bottom: 1rem;
  h5 {
    color: rgba(0, 0, 0, 0.54);
    font-family: $base_font-fredooka;
    font-size: $base_size-subtitle;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 1.4px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

#profile_img {
  height: 120px;
  @include media(sm) {
    height: 150px;
  }
  @include media(md) {
    height: 200px;
  } 
  
}

#container_chart{
   height: 100vh;
   max-height: 500px;
   margin: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;

   @include media(sm){
     margin: 3rem;
   }
   
   h3{
    color: $base_green;
    font-family: $base_font-fredooka;
    font-size: $base_size-title;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.55px;
    display: flex;
    align-items: center;
    gap: 8px;

    @include media(sm){
      font-size: $base_size-md;
    }

   }
}
