
$base:white;
$base_text:black;
$base_size:16px;
$base_size-title:25px;
$base_size-lg:40px;



$base_font-geo:"Finlandica", sans-serif;


$base_text-blue:rgb(30, 181, 146);
$base_text-violet:rgb(148, 0, 211);
$base_text-ocean:rgb( 0, 149, 246)